@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: "Montserrat", sans-serif;
    --bg-color: #615EFC;
    --primary-color: #a7d8c9;
    --secondary-color: #7E8EF1;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(300deg, var(--bg-color)40% , var(--secondary-color));
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
    text-shadow: 0 0 2px rgb(112, 120, 136);
}

h1 {
    font-size: 4.5em;
    margin-bottom: 40px;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
}

.mensagem {
    font-size: 1.5em;
    margin: 70px;
}

#box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

#chuteErrado {
    color: red;
}

strong {
    font-weight: bold;
}

#recomecar {
    border-radius: 15px;
    padding: 20px;
    color: white;
    background-color: var(--bg-color);
    border: 3px solid var(--primary-color);
    font-size: 3.5em;
    font-family: var(--font-family);
}

.quantidadeTentativas {
    display: none;
    font-size: 1.5em;
    color: white;
}

@media(max-width: 685px){
    h1{
        font-size: 3em;
    }
    h3{
        font-size: 1.8em;
    }
}